header {
  background-color: grey;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  width: 100%; 
}

.three-subs {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.fsb {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  gap: 30px;
  width: 68.5% 
}

.fsb img {
  margin: 0 auto;
}


.ipsum {
   display: flex;
   flex-direction: column;
   margin: 0;
   height: 370px;
   overflow: auto;
}

.ipsum h2 {
   font-size: larger;
}

.ipsum button {
  display: flex;
  flex-direction: row;
  background-color: grey;
  text-align: center;
  color: white;
  height: 30px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.35s ease;
}
button:hover {
  background-color: #2980b9;
}


footer {
  background-color: grey;
  width: 100%;
  padding: 50px;
  margin-top: 30px;
  display: flex;
}